<div class="container-fluid">
  <div class="dashboard-container">
    <div class="content">
      <div id="heading">
        <h1>Dashboard</h1>
      </div>
      <div id="recentUploadsSection">
        <div id="newResourceButton">
          New User Resource
        </div>
        <div id="editResourceButton">
          Edit Own Resources
        </div>
        <div id="searchBar">
          <%= form_with(url: searchresults_path, method: 'get') do | form |%>
            <%= form.text_field :search_query%>
          <% end %>
        </div>
        <div id="heading2">
          <h2>Recent Uploads:</h2>
        </div>
        <div id=contentField>
          <%= render "resources/recent_files_list" %>
        </div>
      </div>
      <div id="categorySection">
        <div id="heading2">
          <h2>Tags:</h2>
        </div>
        <div id=contentField>
          <%= render "resources/categories_listing" %>
        </div>
      </div>
      <div id="informationSection">
        <div id="heading2">
          <h2>Information:</h2>
        </div>
        <div id=contentField>
          <%= render "resources/selected_file_listing" %>
        </div>
      </div>
    </div>
  </div>
</div>
