<% content_for :header do %>
  <%= render "layouts/header" %>
<% end %>

<div class="container-fluid">
  <div class="dashboard-container">
    <div class="content">
      <div id="heading">
        <h1>Dashboard</h1>
      </div>
      <div id="dashboard-middle-wrapper">
        <div id="newResourceButton">
          <%= link_to "#{t('dashboard.new_user')}", new_user_resource_path %>
        </div>
        <div id="editResourceButton">
          <%= link_to "#{t('dashboard.edit_user')}", user_resources_path %>
        </div>
        <div id="searchBar">
          <label>
            <input type="text" placeholder='<%= "#{t('placeholder.search')}" %>'>
          </label>
        </div>
        <div id="recentUploadsSection" class="dashboard_div_item">
          <div id="heading2">
            <h2><%= "#{t('dashboard.recent')}" %></h2>
          </div>
          <div id=contentField>
            <%= render "resources/recent_files_list" %>
          </div>
        </div>
        <div id="divSlice" class="dashboard_div_item">
          <div id="categorySection">
            <div id="heading2">
              <h2><%= "#{t('dashboard.tags')}" %></h2>
            </div>
            <div id=contentField>
              <%= render "resources/categories_listing" %>
            </div>
          </div>
          <div id="informationSection">
            <div id="heading2">
              <h2><%= "#{t('dashboard.information')}" %></h2>
            </div>
            <div id=contentField>
              <%= render "resources/selected_file_listing" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

