<!DOCTYPE html>
<html lang="en">
<header>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="dashboard.scss" rel="stylesheet">
</header>

<body>
  <div class="container-fluid">
    <div class="dashboard-container">
      <div class="content">
        <div id="heading">
          <h1>Dashboard</h1>
        </div>
        <div id="recentUploadsSection">
          <div id="searchBar">
            <label>
              <input type="text" placeholder="Search..">
            </label>
          </div>
          <div id="heading2">
            <h2>Recent Uploads:</h2>
          </div>
          <div id="recentUploadsList">
            <% if @files.empty? %>
            <i id="nothing_found">no recent files found</i>
            <%  else  %>
            <%   @files.each do |file|   %>
            <div id="ru_item">
              <a href="<%=   file.url   %>">
                <img id="img" src="<%=   file.url   %>" alt="">
              </a>
              <i id="name"><%=   file.name.length > 12 ? file.name[0,12] + '...' : file.name   %></i>
              <i id="desc"><%=   file.desc.length > 20 ? file.desc[0,20] + '...' : file.desc   %></i>
            </div>
            <%  end  %>
            <%  end %>
          </div>
        </div>
        <div id="categorySection">
          <div id="heading2">
            <h2>Categories:</h2>
          </div>
          <div id="categoryAreal">
              <% if @categories.empty? %>
                <p id="nothing_found">no categories found</p>
              <% else %>
              <div id="categoryList">
              <% @categories.each do |cat| %>
                <div id="cat_item">
                  <i id="title"> <%= cat.title %>></i>
                </div>
              <% end %>
              </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>