<div class="container whiteboard">
  <div class="row">
    <h1><%= "#{t('reset_password.title')}" %></h1>
  </div>
  <hr>
  <div class="row">
    <div class="from-group">
      <%= form_tag password_resets_path, :method => :post do %>
        <div class='field'>
          <%= label_tag :email %>
          <%= text_field_tag :email, params[:email], class: "form-control", placeholder: "#{t('placeholder.email')}", required: true %>
        </div>
        <div class='actions'>
          <%= submit_tag "#{t('submit.reset_submit')}", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <%= render "flash_notice" %>
  </div>
</div>
