<%= form_with(model: @user_resource) do |form| %>
  <% if @user_resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_resource.errors.count, "error") %> prohibited this user_resource from being saved:</h2>

      <ul>
        <% @user_resource.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="new_resource_wrapper gray-boxing">
    <div id="selection_field">
        <%= form.label "#{t('user_resources.file')}" %>
        <%= form.file_field :file, required: true%>
      
        <%= form.label "#{t('user_resources.name')}" %>
        <%= form.text_field :name, required: true %>
      
        <%= form.label "#{t('user_resources.desc')}" %>
        <%= form.text_area :desc, required: true %>
      
        <%= form.label "#{t('user_resources.tag')}" %>
        <%= form.text_field :tag, required: true %>
    </div>

    <div id="createNewResource_button">
      <%= form.submit %>
      <%= button_to "#{t('user_resources.back')}", user_resources_path %>
    </div>
  </div>
<% end %>
