<% content_for :header do%>
  <%=render "layouts/header" %>
<%end %>

<p id="notice"><%= notice %></p>
<div class="dashboard-container">
  <div class="content">
    <div id='heading'>
      <h1>Your Resources</h1>
    </div>
    <div id="resourceTableWrapper">
      <br>
      <div id="resourceTable">
        <i>id</i>
        <i>name</i> 
        <i>Description</i>
        <i>direct link</i>
        <i>Options</i>
        <% @user_resources.each do |user_resource| %>
          <i><%= user_resource.id %></i>
          <i><%= user_resource.name %></i>
          <i><%= user_resource.desc %></i>
          <% if !user_resource.file.filename.nil?%>
            <i><%= link_to rails_blob_path(user_resource.file, disposition: "attachment") do %>
                <%= user_resource.file.filename %>
              <% end %></i>
          <% else %>
            <i>no link available</i>
          <% end %>
          <i><%= link_to 'Show', user_resource %>
          <%= link_to 'Edit', edit_user_resource_path(user_resource) %>
          <%= link_to 'Destroy', user_resource, method: :delete, data: { confirm: 'Are you sure?' } %></i>
        <% end %>
      </div>
      <br>
      <button><%= link_to 'New User Resource', new_user_resource_path %></button>
      <br>
      <button><%= link_to 'Dashboard', dashboard_path %></button>
    </div>
  </div>
</div>
