<p id="notice"><%= notice %></p>
<p>
  <strong><%= "#{t('user_resources.name')}" %></strong>
  <%= @user_resource.name %>
</p>

<p>
  <strong><%= "#{t('user_resources.desc')}" %></strong>
  <%= @user_resource.desc %>
</p>

<p>
  <strong><%= "#{t('user_resources.preview')}" %></strong>
  <li>
    <% unless @user_resource.file.filename.nil? %>
      <% if @user_resource.file.representable? %>
        <%= image_tag @user_resource.file.representation(resize_to_limit: [100, 100]) %>
      <% else %>
        <%= link_to rails_blob_path(@user_resource.file, disposition: "attachment") do %>
          <%= image_tag "placeholder.svg", alt: "Download file" %>
        <% end %>
      <% end %>
    <% end %>
  </li>
</p>


<%= link_to "#{t('user_resources.edit')}", edit_user_resource_path(@user_resource) %> |
<%= link_to "#{t('user_resources.back')}", user_resources_path %>
