<% content_for :header do%>
  <%=render "layouts/header" %>
<%end %>

<div class="container whiteboard">
  <h2>Add Contactable:</h2>
  <hr>
  <%= form_with model: @user do |user| %>
    <div class="row">
      <div class="col">
        <span>Enable Contactable: </span>
        <%= user.submit "On/Off", class: "btn btn-primary" %>
      </div>
      <div class="col">
        <%= flash[:contactable_status] %>
      </div>
    </div>
  <% end %>
</div>
<%= render "layouts/back_to_dashboard" %>
