<div class="container">
  <div class="row">
    <div class="col">
    </div>
  </div>
</div>
<main class="Reg_Main Reg_container">
  <div class="container Reg_border">
    <div class="row">
      <div class="col Reg_AboutYou">
        <b class="Reg_b_About">About</b>
        <b class="Reg_b_You">You</b>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>
          <b><%= "#{t('registration.title')}" %></b>
        </h3>
      </div>
    </div>
    <div class="container">
      <%= form_with model: @user do |user| %>
        <div class="row">
          <div class="col">
            <%= user.text_field :username, placeholder: "Username", class: "form-control", required: true %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= user.text_field :email, placeholder: "email", class: "form-control", required: true %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= user.password_field :password, placeholder: "password", class: "form-control", required: true %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= user.password_field :password_confirmation, placeholder: "password-confirmed", class: "form-control", required: true %>
          </div>
        </div>
        <div class="row">
          <div class="col">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= user.submit "#{t('registration.registration_submit')}", id: "regBtn", class: 'btn btn-primary' %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= render "layouts/error_messages" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>
