<div id="Home_html">
  <div id="Home_Body">
    <div class="container">
      <main id="Home_main">
        <div>
          <h1 class="Home_h1">
            <b>
              Dripbox
            </b>
            but better
          </h1>
        </div>
        <div>
          <%= image_tag("home_page/MainPage.PNG", class: "mainImg mb-4", id: "mainImgId") %>
        </div>
        <div>
          <%= image_tag("home_page/hacking-hack.gif", id: "hiddenGif", class: "hiddenImage") %>
        </div>
        <div>
          <h2 class="colorWhite"><%= "#{t('login_page.login')}" %></h2>
        </div>
        <div class="form-floating">
          <%= form_with url: login_path do |form| %>
            <%= form.text_field :email, class: "form-control", id: "floatingInput", placeholder: "#{t('placeholder.username')}", required: true %>
            <%= form.password_field :password, class: "form-control", id: "floatingPassword", placeholder: "#{t('placeholder.password')}", required: true %>
            <div class="form-check form-switch">
              <%= form.check_box "", id: "ShowSwitch", class: "form-check-input" %>
              <%= form.label "#{t('login_page.password')}", for: "Switch", class: "form-check-label colorWhite" %>
            </div>
            <%= form.submit "#{t('submit.login_submit')}", class: "w-100 btn btn-lg btn-primary" %>
          <% end %>
        </div>
        <div>
          <% if flash[:alert] %>
            <div class="flashes">
              <div class="alert"><%= flash[:alert] %></div>
            </div>
            <%= image_tag("home_page/crewmate_amongus-256px-5.gif") %>
          <% end %>
        </div>
        <div>
          <div>
            <%= link_to "#{t('login_page.registration')}", new_user_url, :class => "btn btn-link" %>
          </div>
        </div>
        <div>
          <div>
            <%= link_to "#{t('login_page.password_forgot')}", new_password_reset_url %>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
