<body class="container">
<main id="Home_main">
  <div>
    <h1 class="Home_h1">
      <b>
        Dripbox
      </b>
      but better
    </h1>
  </div>
  <div>
    <%= image_tag("MainPage.PNG", class: "mainImg", id: "mainImgId") %>
  </div>
  <div>
    <h2>Please sign in</h2>
  </div>
  <div>
    <%= form_with url: "/test", model: @user do |user| %>
      <%= user.email_field :email %>
      <%= user.password_field :password %>
      <%= user.submit %>
    <% end %>
  </div>
  <div>
    <div>
      <%= link_to "Registieren", registrations_index_url, :class => "btn btn-link" %>
    </div>
  </div>
</main>
</body>
