<div class="resource-creation" style="background-color: #666666">
<%= form_with(model: resource, multipart: true) do |form| %>
  <div class="field">
    <%= form.label :name, class:'label' %>
    <%= form.text_field :name, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :desc, class:'label' %>
    <%= form.text_area :desc, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :user_id, class:'label' %>
    <%= form.text_field :user_id, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :category, class:'label' %>
    <%= form.text_field :category, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :file, class:'label' %>
    <%= form.file_field :file, class: 'input' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
