<div id="recentUploadsList">
  <% if @files.empty? %>
    <i id="nothing_found">no recent files found</i>
  <%  else  %>
    <%   @files.each do |file|   %>
      <div id="ru_item">
        <a href="/dashboard/<%=   file.id   %>">
          <% if file.file.representable? %>
            <%= image_tag file.file.representation(resize_to_limit: [1000, 1000]) %>
          <% end %>
        </a>
        <a href="/dashboard/<%=   file.id   %>"><i id="name"><%=   file.name.length > 12 ? file.name[0,12] + '...' : file.name   %></i></a>
        <i id="desc"><%=   file.desc.length > 20 ? file.desc[0,20] + '...' : file.desc   %></i>
      </div>
    <%  end  %>
  <%  end %>
</div>
