<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resource.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @resource.desc %>
</p>

<p>
  <strong>User:</strong>
  <%= @resource.user %>
</p>

<p>
  <strong>File:</strong>
  <%= @resource.file %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
