<h1>Aktueller Chatroom: <%= @selectedRoom.name %></h1>
<br>
<div>---------</div>
<br>

<!-- creating new message by calling room_messages_controller: create action-->
<%= form_with model: @roomMessage do |form| %>
  <div>
    <%= form.label :Nachricht %>
    <%= form.text_field :message_content %>
  </div>
  <div>
    <%= form.hidden_field :room, value: @selectedRoom.id %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<%end %>
<br>
  
<ul>
  <%if @roomMessages.present? %>
  <% @roomMessages.each do |roomMessage| %>
    <li><%= roomMessage.message %></li>
    <% end %>
    <%end %>
</ul>
