<div id="room-id" data-room-id="<%= @room_id %>">

<div class="container whiteboard">

<h1>Aktueller Chatroom: <%= @selectedRoom.name %></h1>
<br>
<div>---------</div>
<br>

<!-- creating new message by calling room_messages_controller: create action-->
<%= form_with model: @roomMessage do |form| %>
  <div>
    <%= form.label :Nachricht %>
    <%= form.text_field :message_content, autofocus: true %>
  </div>
  <div>
    <%= form.hidden_field :room, value: @selectedRoom.id %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<%end %>
<br>
  
<ul>
  <%if @roomMessages.present? %>
  <% @roomMessages.each do |roomMessage| %>
      <%if roomMessage.user.id == @current_user.id %>
        <li class="alert alert-success"><%= roomMessage.user.username%>: <%= roomMessage.message %></li>
        <%else %>
        <li class="alert alert-danger"><%= roomMessage.user.username%>: <%= roomMessage.message %></li>
<%end %>
    <% end %>
    <%end %>
</ul>

</div>
</div>
