<% content_for :header do %>
  <%= render "layouts/header" %>
<% end %>

<div id="room-id" data-room-id="<%= @room_id %>">

  <div class="container whiteboard">

    <h1>Aktueller Chatroom: <%= @selected_room.name %></h1>
    <br>
    <hr>
    <br>


    <ul id="messages_container" class="message-list">
      <!-- loading existing messages when entering the chatroom -->
      <% if @room_messages.present? %>
        <% @room_messages.each do |roomMessage| %>
          <% if roomMessage.user.id == @current_user.id %>
            <li class="alert alert-success"><%= roomMessage.user.username %>: <%= roomMessage.message %></li>
          <% else %>
            <li class="alert alert-danger"><%= roomMessage.user.username %>: <%= roomMessage.message %></li>
          <% end %>
        <% end %>
      <% end %>
      <!-- load new messages while in chatroom using js -->
    </ul>


    <!-- creating new message by calling room_messages_controller: create action-->
    <%= form_with model: @room_message do |form| %>
      <div>
        <%= form.label :Nachricht %>
        <%= form.text_field :message_content, autofocus: true %>
      </div>
      <div>
        <%= form.hidden_field :room, value: @selected_room.id %>
      </div>
      <div>
        <%= form.submit %>
      </div>
    <% end %>
    <br>
  </div>


</div>

