<!DOCTYPE html>
<html>
<head>

  <title>Dripbox</title>

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= debug(params) if Rails.env.development? %>
<%= yield :header unless current_page?(agb_path) %> <!-- needs to be changed to registration_path after merge -->

<%= yield %>
<%= render 'layouts/footer' %>
</body>

</html>
