<!DOCTYPE html>
<html>
<head>
  <title>Dripbox</title>

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div id="page-container">
  <div id="content-wrap">
    <%= yield :header unless current_page?(registrations_index_path) %>

    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</div>
</body>

</html>
